<form method="get" class="row g-3">
    <div class="col-md-3">
        {{ filter.form.name.label_tag }}
        {{ filter.form.name }}
    </div>
    <div class="col-md-3">
        {{ filter.form.tag.label_tag }}
        {{ filter.form.tag }}
    </div>
    <div class="col-md-3">
        {{ filter.form.category.label_tag }}
        {{ filter.form.category }}
    </div>
    <div class="col-md-3">
        {{ filter.form.status.label_tag }}
        {{ filter.form.status }}
    </div>
    <div class="col-md-3">
        {{ filter.form.assigned_to.label_tag }}
        {{ filter.form.assigned_to }}
    </div>
    <div class="col-md-3">
        {{ filter.form.location.label_tag }}
        {{ filter.form.location }}
    </div>
    <div class="col-md-3">
        {{ filter.form.vendor.label_tag }}
        {{ filter.form.vendor }}
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Apply Filters</button>
        <a href="{% url 'assets:asset_list' %}" class="btn btn-secondary">Clear</a>
    </div>
</form>