<div class="row mb-4">
    <div class="col-md-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Total Assets</h5>
                <p class="card-text display-6">{{ total_assets }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Available</h5>
                <p class="card-text display-6">{{ available_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <h5 class="card-title">Assigned</h5>
                <p class="card-text display-6">{{ assigned_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h5 class="card-title">Maintenance</h5>
                <p class="card-text display-6">{{ maintenance_count }}</p>
            </div>
        </div>
    </div>
</div>